{% extends 'base.html'%}

{% block title %}User {% if user.username %}{{ object.username }}{% endif %}{% endblock %}

{% block content%}
  {% if user.username %}
    Username: {{ object.username }}<br/>
    First name: {{ object.first_name }}<br/>
    Last name: {{ object.last_name }}<br/>
    E-mail: {{ object.email }}<br/>
    Password hash: {{ object.password }}<br/>
    Date joined: {{ object.date_joined }}<br/>
    Last login: {{ object.last_login }}<br/>
    Account active: {{ object.is_active }}<br/>
    Is staff: {{ object.is_staff }}<br/>
    TimeZone: {{ object.timezone }}
  {% endif %}
{% endblock %}
